#messagesDiv {
  font-size: 20px;
  overflow: auto;
  height: 230px;
  width: 100%;
  padding-bottom: 5px;
  border: solid black;
    color: grey;
}

#messageInput {
  width: 100%;
  border: solid black;
  font-size: 25px;
}

#messagesDiv em{
  font-style: normal;
  font-weight: bold;
  color: green;
}