#chat {
    font-size: 15px;
    
    
}

#messagesDiv {
    overflow: auto;
    height: 180px;
    padding: 0px 15px 5px 15px;
	background-color: #d7d7d7;
    text-shadow: none;
    color: #474747;    
}

#messagesDiv em{
    font-style: normal;
    font-weight: bold;
}

#messageInput {
	background-color: #d7d7d7;
    width: 100%;
    font-size: 15px;
    padding: 3px 15px 5px 15px;
    color: #474747;
	
	border: 0;
    outline: none;
    outline-offset: 0;
}

