
div#header
{
	background: black;
	margin: 0px;
	padding: 15px;
	height: 60px;
}

div#content
{
}

div#info
{
	vertical-align: bottom;
	
}

div.box
{
	background-color: #bbbbbb;
	margin: 10px;
	float: left;
	height: 300px;
}