
div#header
{
	background-image: url('../img/bg.png');
	background-repeat repeat-x;
	margin: 0px;
	padding: 0px;
	height: 60px;
	text-align: center;
}

div#artist
{
	background-color: #d7d7d7;
	height: 20px;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}

div#content
{
}

div#info
{
	position: relative;
	bottom: 0px;
}

div.box
{
	background-color: #bbbbbb;
	margin: 10px;
	float: left;
	height: 300px;
}